html, body {
	
	height: 100%;
	margin: 0;

}

body {

	background-color: black !important;

}

.card {

	z-index: 2;
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 0%;
	text-align: center;
	width: 50%;
	box-shadow: 0 0 150px 30px red, 0 0 250px 50px blue;

}

h5 {

	font-size: 1.5rem !important;

}

.input-group {

	width: 50% !important;
	margin: 0 auto;

}

#username, #password {

	display: inline-block;
	width: 50% !important;
	margin-bottom: 0rem;
	z-index: 5;

}

#password.is-invalid {

	z-index: 100;

}

.input-group-append button:active {

	z-index: 200 !important;

}

.btn-outline-secondary {

	border: 1px solid #ced4da !important;
	z-index: 99 !important;

}

img {

	width: 3%;
	height: 3%;

}

ul {

	padding-left: 0;
	margin-bottom: 0.25rem !important;
	list-style-position: inside;

}

li {

	text-indent: -4px;

}

.btn-sm {

	padding-top: 0.2rem !important;

}

.invalid-feedback:not(.invalid) {

	display: none !important;

}

.invalid {

	display: block !important;

}